.expressive-code {
    .frame {
        @apply !shadow-none;
        border: 1px solid var(--codeblock-border);
    }

    .header {
        border-bottom: 1px solid var(--codeblock-border);
    }

    .title {
        font-family: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}
